h2 {
    color: rgb(1, 10, 14);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-left: 5em;
}

h1 {
    color: darkslategray;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 5em;
}

.page-content {
    margin-top: 10%;
}