{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static '/horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock %}


    {% block content %}
    {% include 'includes/navbar.html' %}
    <ul>
        {% for sign in zodiacs %}
            <li>{{forloop.counter}}: <a href="{% url 'horoscop-name' sign %}">{{sign|capfirst}}</a></li>
        {% endfor %}
    </ul>

    {% for k,v in signs.items %}
        <p><b><i>{{k}} : {{v}}</i></b></p>
    {% endfor %}
    {% include 'includes/navbar.html' %}
    {% endblock %}