{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block css_additional %}
    <link rel="stylesheet" href="{% static '/horoscope/css/info.css' %}">
{% endblock %}

    {% block title %}
        Гороскоп для {{sign|capfirst}}
    {% endblock %}

    
        {% block content %}
        <div class="page-content">
        {% include 'includes/navbar.html' %}
        <h1>{{zodiac_description|split}}</h1>
        {% if zodiac_description is None %}
            <h2>Неправильный знак зодиака {{sign}}</h2>
        {% else %}
            <h2>{{ zodiac_description | capfirst }}</h2>
        {% endif %}
        </div>
    {% for i in 10|times %}
        <p style="margin-left: 200px;">Hello</p>
    {% endfor %}
    {% load my_filters %}

    {% for c in 3|filter_range:8 %}
        <p style="margin-left: 200px;">{{ c }}</p>
    {% endfor %}
        {% endblock %}
    
    