{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static '/horoscope/css/info.css' %}">
{% endblock %}

    {% block title %}
        Гороскоп для {{sign|capfirst}}
    {% endblock %}

    {% block content %}
        {% include 'includes/navbar.html' %}
        <h1>Приложение гороскоп</h1>
        {% if zodiac_description is None %}
            <h2>Неправильный знак зодиака {{sign}}</h2>
        {% else %}
            <h2>{{ zodiac_description | capfirst }}</h2>
        {% endif %}
        {% include 'includes/navbar.html' %}
    {% endblock %}